<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Seleccionar tipo de usuario</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<div class="login-wrapper">
    <div class="login-container">
        <h2>¿Olvidaste tu contraseña?</h2>
        <p>Selecciona tu tipo de usuario para continuar con la recuperación:</p>

        <form action="/recuperar/judoka" method="get">
            <button type="submit">Restablecer Judoka</button>
        </form>
        <form action="/recuperar/club" method="get">
            <button type="submit">Restablecer Club</button>
        </form>


        <br>
        <a href="/login">← Volver al inicio de sesión</a>
    </div>
</div>

</body>
</html>
