<!-- Lista de judokas registrados -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de Judokas</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<header class="header blue-header">
  <h1>Lista de Judokas</h1>
  <a href="/judoka/home" class="btn header-btn">Inicio</a>
</header>

<div class="table-container">
  <table class="styled-table">
    <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Categoría</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="judoka : ${judokas}">
      <td th:text="${judoka.id}"></td>
      <td th:text="${judoka.nombre}"></td>
      <td th:text="${judoka.apellido}"></td>
      <td th:text="${judoka.categoria}"></td>
    </tr>
    </tbody>
  </table>
</div>


</div>
</body>
</html>