<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio Judoka</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<header class="header blue-header">
    <h1>Bienvenido Judoka, [[${nombre}]]</h1>
</header>

<div class="menu-container">
    <!-- Menú con botones estilizados -->
    <ul class="menu-buttons">
        <li><a class="btn" th:href="@{/competencias}">Ver Competencias disponibles</a></li>
        <li><a class="btn" th:href="@{/judokas}">Ver Judokas</a></li>
        <li><a class="btn" th:href="@{/logout}">Cerrar sesión</a></li>
    </ul>
</div>
</body>
</html>