<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Registrar Club</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<header class="header">
  <img src="/img/logo.png" alt="Logo"> <!-- Cambiar logo -->
  <button onclick="location.href='/registro'">Volver</button>
</header>

<div class="form-wrapper">
  <div class="form-container">
    <h2>Registrar Club</h2>
    <form th:action="@{/registro-club}" method="post">
      <input type="text" name="nombre" placeholder="Nombre del club" required/>
      <input type="email" name="username" placeholder="Correo" required/>
      <input type="password" name="password" placeholder="Contraseña" required/>
      <input type="text" name="sensei" placeholder="Nombre del sensei" required/>
      <input type="text" name="anoFundacion" placeholder="Año de fundación" required/>
      <input type="text" name="direccion" placeholder="Dirección del club" required/>
      <input type="text" name="horarios" placeholder="Horarios de entrenamiento" required/>
      <button type="submit">Registrar Club</button>
    </form>
    <div th:if="${error != null}" th:text="${error}" class="error-message"></div>
    <div th:if="${success != null}" th:text="${success}" class="success-message"></div>
  </div>
</div>
</body>
</html>
