<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registrar Judoka</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<header class="header">
    <img src="/img/logo.png" alt="Logo"> <!-- Cambia "logo.png" por el nombre de tu imagen -->
    <button onclick="location.href='/registro'">Volver</button>
</header>

<div class="form-wrapper">
    <div class="form-container">
        <h2>Registrar Judoka</h2>
        <form th:action="@{/registro-judoka}" method="post">
            <input type="text" name="nombre" placeholder="Nombre" required/>
            <input type="text" name="apellido" placeholder="Apellido" required/>
            <input type="date" name="fechaNacimiento" required/>
            <input type="text" name="categoria" placeholder="Categoría (peso)" required/>
            <input type="email" name="username" placeholder="Correo" required/>
            <input type="password" name="password" placeholder="Contraseña" required/>
            <button type="submit">Registrar</button>
        </form>
        <div th:if="${error != null}" th:text="${error}" class="error-message"></div>
        <div th:if="${success != null}" th:text="${success}" class="success-message"></div>
    </div>
</div>
</body>
</html>