<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registro - JSCORE</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="form-wrapper">
    <div class="form-container">
        <h2>¿Qué deseas registrar?</h2>
        <form action="/registro-judoka" method="get" style="display:inline;">
            <button type="submit">Registrar Judoka</button>
        </form>
        <form action="/registro-club" method="get" style="display:inline;">
            <button type="submit">Registrar Club</button>
        </form>
        <a href="/login">Volver al login</a>
    </div>
</div>
</body>
</html>