<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Torneo</title>
</head>
<body>
    <h1>Torneo</h1>
    <a th:href="@{/}">Inicio</a>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Fecha</th>
        </tr>
        <tr th:each="tor : ${torneos}">
            <td th:text="${tor.id}"></td>
            <td th:text="${tor.nombre}"></td>
            <td th:text="${tor.fecha}"></td>
        </tr>
    </table>
</body>
</html>